amqp==5.2.0
asgiref==3.8.1
billiard==4.2.0
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudinary==1.41.0
cryptography==43.0.1
decorator==4.4.2
dj-database-url==2.2.0
Django==5.1.1
django-allauth==64.2.1
django-allauth-ui==1.4.1
django-appconf==1.0.6
django-braces==1.15.0
django-ckeditor==6.7.1
django-ckeditor-5==0.2.13
django-compressor==4.5.1
django-js-asset==2.2.0
django-storages==1.14.4
django-widget-tweaks==1.5.0
idna==3.8
imageio==2.35.1
imageio-ffmpeg==0.5.1
kombu==5.4.1
moviepy==1.0.3
numpy==2.1.1
oauthlib==3.2.2
pillow==10.4.0
proglog==0.1.10
prompt_toolkit==3.0.47
psycopg==3.2.1
psycopg-binary==3.2.1
pycparser==2.22
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.2
rcssmin==1.1.2
redis==5.0.8
requests==2.32.3
requests-oauthlib==2.0.0
rjsmin==1.2.2
setuptools==74.1.2
six==1.16.0
slippers==0.6.2
sqlparse==0.5.1
tqdm==4.66.5
typeguard==2.13.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.7.0
