{% extends "base.html" %}
{% load static %}
{% block title %}
Home Page
{% endblock title %}

{% block content %}
{% include "banner/banner.html" %}

<div class=" mx-auto text-center justify-center mt-3">
  <h3 class="text-4xl">
   {{ course.subject.title }}
  </h3>
  <span>total module  {{course.total_module}}</span>
</div>

<div
  class="max-w-full mx-auto  mt-10 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">

    {% if course.image %}
    <div class=" max-w-full items-center cover  flex justify-center">
      <img class=" w-full h-auto max-w-xl " src="{{course.image.url}}" alt="" />
    </div>
    {% else %}

    {% endif %}

  </a>
  <div class="p-5">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ course.title }}</h5>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
    Instructor: {{ course.owner.username }}
 
    </p>
    <p id="content" class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ course.description|truncatewords:50 }}</p>
    <button hx-get="{% url 'get_content' course.id %}" hx-target="#content" hx-swap="innerHTML"
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Read more
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </button>
    
    <div class="justify-center flex">


      <div
        class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="p-5">
          <div class="py-3 mb-3 text-center">
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">30-day Money-Back Guarantee
            </h5>
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Member price: $25.00

            </h5>

          </div>
          <div class="text-center">
            <div class="mb-3 text-3xl font-bold text-gray-900 dark:text-white">{{ course.price }}</div>
            
            {% if user.is_authenticated and is_enrolled %}
            <p class="text-green-600">You are already enrolled in this course.</p>
        
            {% else %}

            <form method="post" action="{% url 'student_enroll_course' course.public_id %}">
              {% csrf_token %}
              <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  {% if user.is_authenticated %}
                      Enroll in this course
                  {% else %}
                      Log in to Enroll
                  {% endif %}
              </button>
          </form>
        {% endif %}
        
              
            
          </div>
        </div>
        <div class="flex justify-end  items-center mt-2.5 mb-5 mx-2">
          <div class="flex items-center space-x-1 rtl:space-x-reverse">
            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
            <svg class="w-4 h-4 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 22 20">
              <path
                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
            </svg>
          </div>
          <span
            class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3">5.0</span>
        </div>
      </div>

    </div>
    <h4 class="text-3xl text-gray-600">
      Lesson
    </h4>
    <div class="text-dark p-5">

      {% for video in course_videos %}
      <div class="flex  items-center gap-3">
        <div>
          <svg class="w-[29px] h-[29px] text-dark dark:text-dark w-5 h-5 p-1  rounded-full border border-gray-900"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
            viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4"
              d="M8 18V6l8 6-8 6Z" />
          </svg>
        </div>
        <div>
          <a href=" {% url 'lesson_detail'    course.public_id  lesson_public_id  %}"
            class="text-1xl font-bold ">{{video.title}}</a>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>
</div>

{% endblock content %}